.board-page {
  height: 100vh; 
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: center; 
  overflow: hidden; 
  user-select: none;
  pointer-events: none;
}

.stretch-image {
  width: 100%; 
  height: 100%;
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: center; 
  overflow: hidden; 
  user-select: none;
  pointer-events: none;
}

.kanbanSidebar {
  height: 100%;
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(51,51,51,0.7);
  -webkit-user-select: none; /* Для Safari */
  -moz-user-select: none; /* Для Firefox */
  -ms-user-select: none; /* Для Internet Explorer/Edge */
  user-select: none;
}

.userGroup {
  margin: 5px 80px 5px 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
  box-sizing: border-box;
  flex-shrink: 0; /* Предотвращает растяжение элемента */
  padding: 5px 0px 5px 10px;
  /* Остальные стили */
}
  
  .userGroup:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Добавляет полупрозрачный черный фон при наведении */
  }

  .myProject {
    color: white;
    font-size: 25px;
    background-color: rgba(49, 49, 49, 0.5);
    margin-top: 0%;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  


